::selection {
	color: #fff;
	background: #1475d4;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: #f8f6f8;
}
::-webkit-scrollbar-track {
	background-color: transparent !important;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dbdbdb;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f8f6f8;
	font-family: Sen, Arial, sans-serif;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2e2e2e;
}

.flex-center {
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
}

.flex-start {
	display: flex!important;
	justify-content: flex-start!important;
	align-items: center!important;
}

.disable {
	color: #ccc !important;
	background-color: #eee!important;
	pointer-events: none!important;
	* {
		pointer-events: none;
	}
}

.btn {
	width: 200px;
	padding: 16px 20px;
	border: none;
	border-radius: 10px;
	outline: 0px solid rgba(68, 138, 255, 0.4);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.checkbox {
	accent-color: #448aff;
	height: 25px;
	width: 25px;
	margin-right: 10px;
	border: 1px solid #ccc;
	outline: 0px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: all 0.2s ease;
}
.checkbox:hover {
	border-color: #b3b3b3;
}
.checkbox:focus {
	border-color: #999999;
	outline: 3px solid rgba(0, 0, 0, 0.08);
}
