$black: #2e2e2e;
$textBlack: #121212;
$navy: #002b54;
$blue: #448aff;
$green: #3bdaa0;
$red: #ef5350;
$borderGrey: #ccc;
$backgroundGrey: #f8f6f8;
$btnGrey: #eee;
$boxShadowSmall: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
$boxShadowMid: 0 0 12px 0 rgb(0 0 0 / 12%);
$boxShadowLight: 0 0 12px 0 rgb(0 0 0 / 6%);
$animateFast: all 0.2s ease;
$animateSlow: all 0.4s ease;
$animateBack: all 0.4s cubic-bezier(0.6, 0.41, 0.29, 1.65);
